<!DOCTYPE html>
<html lang="en">
<head>
   <title>ON-AIR Sign</title>
   <link rel="stylesheet" href="css/styles.css">
   <link rel="stylesheet" href="css/stars.css">
  
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand&display=swap" rel="stylesheet">

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="stars">
<div class="twinkling">
<div class="gradient">

<div class="holder">
<h1>{{message}}</h1>

<div class="subholder">

<div class="saveButtonHolder">
   <form action="../">
   <input class="button button-dark" type="submit" id="return" name = "return" value="Return">
   </form>
</div>

</div>

</div>

</div><!--gradient-->
</div><!--twinkling-->
</div><!--stars-->

</body>
</html>